# BikeShare Insights: Data Preparation

This notebook will be used for the data preparation of the Bike Sharing dataset. This includes data acquisition, cleaning, preprocessing, and storing it in a SQL database.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Load the data
df = pd.read_csv('hour.csv')

The dataset is loaded into a pandas DataFrame. Let's inspect the first few rows of the DataFrame to understand its structure.

In [2]:
# Display the first few rows of the DataFrame
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

The dataset contains information about bike rentals for each hour of each day. It includes details about the date, season, year, month, hour, holiday status, weekday, working day status, weather situation, temperature, humidity, windspeed, casual users, registered users, and the total count of users.

Now, we will check for missing values and data types of the columns.

In [3]:
# Check for missing values and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

From the above output, we can see that there are no missing values in the dataset. All the columns are of the correct data type except for 'dteday' which should be converted to datetime format. Also, we can see that 'casual' and 'registered' columns are not necessary for our analysis as their sum equals 'cnt' column which represents the total count of bike rentals. So, we will remove these columns.

In [4]:
# Convert 'dteday' to datetime format
df['dteday'] = pd.to_datetime(df['dteday'])

# Drop unnecessary columns
df.drop(['casual', 'registered'], axis=1, inplace=True)

We have successfully preprocessed our dataset. The 'dteday' column is now in datetime format and the unnecessary columns have been removed. Let's now store the preprocessed data into a SQL database.

In [5]:
# Establish a connection to the SQL database
engine = create_engine('sqlite:///bikeshare.db')

# Store the DataFrame into a SQL table
df.to_sql('bike_rentals', engine, if_exists='replace', index=False)

17379

The DataFrame has been stored in a SQL database named `bikeshare.db` in a table named `bike_rentals`. The data is now ready for further analysis.

## Summary

In this notebook, we have successfully loaded the Bike Sharing dataset, inspected its structure, and preprocessed it to prepare it for further analysis. The preprocessing steps included converting the 'dteday' column to datetime format and removing unnecessary columns. The preprocessed data was then stored in a SQL database.

## Business Summary

Having a clean and well-structured dataset is crucial for any data analysis project. The preprocessing steps conducted in this notebook have ensured that our dataset is free from missing values, the data types are correct, and only relevant columns are retained. This will allow us to focus on analyzing the data and extracting meaningful insights in the upcoming stages of the project.